@media only screen and (max-width: 1170px) {
  	.logo {
		margin-left: 10px;  	
  	}
  	.contact-header {
  		margin-right: 10px;
  	}
}

@media only screen and (max-width: 1080px) {
	.service-h3 {
  		font-size: 110%;
  	}
}

@media only screen and (max-width: 1169px) {
	.cd-testimonials-wrapper {
		height: 350px;
	}
}

@media only screen and (max-width: 1024px) {
  	.contact-header {
  		font-size: .9em;
  	}
   	.service p {
	  	font-size: .9em;
	  	line-height: 140%;
 	}
  	.service-h3 {
  		font-size: 105%;
 	}
}

@media only screen and (max-width: 999px) {
	.container-small {
		max-width: 1000px;
	  	margin: 0 auto;
	  	padding-left: 20px; 
	  	padding-right: 20px;
	}
}

@media only screen and (max-width: 980px) {
	.services-item {
	  	width: 30%;
	  	margin: 0 1.6666% 3em;
	}
	.service {
		height: 280px;
	}
}

@media only screen and (max-width: 959px) {
	.services-sidebar {
		font-size: 90%;
	}
}

@media only screen and (max-width: 917px) {
	.header-contact-details {
		display: block;
	}
}

@media only screen and (max-width: 832px) {
	.services-sidebar {
		font-size: 80%;
	}
}

@media only screen and (max-width: 819px) {
	.service {
		height: 300px;
	}
}

@media only screen and (max-width: 767px) {
	.cd-testimonials-wrapper {
		height: 230px;
	}
	.form-contact-info {
		float: none;
		margin-top: 20px;
		width: 50%;
		margin-left: 25%;
	}
	.form {
		  height: 290px;
		  width: 50%;
		  margin-left: 25%;
	}
	.services-sidebar, .service-content {
		float: none;
	}	
	.services-sidebar {
		width: 225px;
	}
	.service-content {
		width: 100%;
	}
	.services-sidebar ul li {
		/*display: inline;*/
		font-size: 110%;
		/*border: none;*/
	}
}
 
@media only screen and (max-width: 691px) {
	.service {
		height: 320px;
	}
 }

@media only screen and (max-width: 652px) {
	header {
		height: 150px;
	}
	#logo-tagline {
		padding: 0;
		position: absolute;
		top: 117px;
		left: 10px;
	}
	.nav-ul {
		font-size: 90%;
	}

	ul.nav-ul li a {
    	padding: 11px 10px 14px 10px;
    	border-bottom: none;
	}
}

@media only screen and (max-width: 620px) {
	.cd-testimonials-wrapper {
		height: 250px;
	}
	.form-contact-info {
		float: none;
		margin-top: 20px;
		width: 70%;
		margin-left: 15%;
	}
	.form {
		  height: 290px;
		  width: 70%;
		  margin-left: 15%;
	}
}

@media only screen and (max-width: 605px) {
	.services-item {
	  	width: 45%;
	  	margin: 0 2.5% 3em;
	}
	.service {
		height: 280px;
	}
}

@media only screen and (max-width: 599px) {
/*	.nav-ul {
		display: none;
		float: left;
	}*/
	.nav-ul { 
		text-align: left; 
		display: none;
	}
	.main-nav ul li {
 		display: block;
	}
	.main-nav ul {
		float: left;
	}
	.fa-bars, .fa-times {
		float: right;
		display: inline;
		font-size: 1.5em;
	}
	ul.nav-ul li.active a { 
    	background-color: transparent;
	}
}

@media only screen and (max-width: 520px) {
	.cd-testimonials-wrapper {
		height: 270px;
	}
}

@media only screen and (max-width: 450px) {
	.cd-testimonials-wrapper {
		height: 300px;
	}
}

@media only screen and (max-width: 418px) {
	.cd-testimonials-wrapper {
		height: 320px;
	}
	.form-contact-info {
		float: none;
		margin-top: 20px;
		width: 80%;
		margin-left: 10%;
	}
	.form {
		  height: 290px;
		  width: 80%;
		  margin-left: 10%;
	}
	.title {
		font-size: 120%;
	}
}

@media only screen and (max-width: 514px) {
	.contact-header {
		font-size: .8em;
		width: 40%;
	}
 }

@media only screen and (max-width: 414px) {
	.services-item {
		width: 90%;
		margin: 0 5% 3em;
	}
}






